@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.left-main {
  background: url(./images/screen-post-rVcxGBT80j8-unsplash.jpg);
  position: relative;
  background-size: cover;
  height: 100%;
  flex: 1.5;
}

.left-main::after {
  min-width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  text-shadow: 10px 10px 20px rgb(141, 118, 141), 15px 15px 30px blue;
  font-weight: 600;
  font-size: 2rem;
  content: "Connect with aspiring and current developers all around the world.";

  position: absolute;
  top: 65%;
  left: 0%;
  display: block;
  text-align: center;
}

.right-main {
  background: black;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

label,
input,
button {
  appearance: none;
  -webkit-appearance: none;
}

label {
  margin-bottom: 8px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 100%;
}

input {
  cursor: text;
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  line-height: 1.6;
  display: block;
  caret-color: magenta;

  width: 90%;
  height: 45px;
}

input:focus {
  box-shadow: 0px 10px 20px magenta;
  outline: 2px solid magenta;
  background: rgb(240, 237, 237);
}

#username,
#email {
  width: 95%;
}

form > div {
  display: block;
}

label {
  color: magenta;
  font-size: 1.5rem;
}

form {
  width: 900px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  border-radius: 15px;
  padding: 50px;
  background: black;
}

.firstContainer,
.lastContainer,
.phoneContainer,
.pwdContainer,
.pwd2Container {
  width: 50%;
  float: left;
  margin-bottom: 35px;
}

.user,
#email {
  margin-bottom: 40px;
}

.btnContainer {
  text-align: center;
}

button {
  cursor: pointer;
  border: 2px solid magenta;

  background: black;
  color: magenta;
  width: 35%;
  height: 20%;
  padding: 9px 18px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button:hover {
  background: magenta;
  color: black;
}

p {
  color: white;
}

a {
  text-align: center;
  font-family: sans-serif;
  color: magenta;
}

p {
  font-family: sans-serif;
}

h1 {
  color: magenta;
  text-align: center;
  margin-bottom: 100px;
  font-size: 6rem;
}

p > a {
  color: magenta;
}

.google {
  cursor: pointer;
  border-radius: 10px;
  line-height: 50px;
  color: rgb(78, 76, 76);
  margin: 0 auto;
  width: 60%;
  height: 50px;
  text-align: center;
  background-color: rgb(235, 231, 231);
  margin-bottom: 20px;
}

.google:hover {
  background-color: magenta;
  color: black;
}

#google-icon {
  margin-right: 15px;
  overflow: visible;
}

.req {
  font-family: sans-serif;
  font-size: 0.9rem;
}

.req2 {
  font-family: sans-serif;
  font-size: 0.9rem;
  visibility: hidden;
}

.mainHead {
  width: 100%;
  position: absolute;
  height: 35%;
  top: 30%;
  margin: 0;
  padding: 0%;

  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 10px 10px 20px rgb(141, 118, 141), 15px 15px 30px blue;
}

div > h1 {
  margin: 0;
}

input:focus:invalid {
  box-shadow: 0px 10px 20px red;
  outline: 3px solid red;
}

input:focus:valid {
  box-shadow: 0px 10px 20px green;
  outline: 3px solid green;
}

.validMsg {
  color: green;
}

.invalidMsg {
  color: red;
}

#logo {
  position: absolute;
  width: 400px;
  z-index: 2;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.small-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
